<section id="grid" class="grid">
	<% for columb in 1..3 do %>
		<div class="columb" id="<%=columb%>">
			<% for row in 1..3 do %>
				<div class="row" id="<%=row%>">
					<div id="cell" data-location="<%=columb%>.<%=row%>">
						<% if @grid.grid[columb.to_s][row.to_s] == 'e' %>
							-
						<% else %>
							<%= @grid.grid[columb.to_s][row.to_s] %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</section>