<section id="grid" class="grid">
	<% for collum in 1..3 do %>
		<div class="collum" id="collum_<%=collum%>">
			<% for row in 1..3 do %>
				<div class="row" id="row_<%=row%>">
					<div id="cell" data-location="<%=collum%>.<%=row%>">
						<% if @grid.grid[collum.to_s][row.to_s] == 'e' %>
							-
						<% else %>
							<%= @grid.grid[collum.to_s][row.to_s] %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</section>